# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# VS Code Settings
.vscode/

# Generated Data
data/raw/
data/cleaned/
data/chunks/

# Logs
*.log

# Generated data
data/

# Vector store
*.faiss
*.pkl