streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface

sentence-transformers
transformers
torch

faiss-cpu

GitPython
python-dotenv

numpy
pandas

requests

tiktoken

openai